# 用于高性能数值计算、向量运算、矩阵运算，是机器学习和 AI 的底层基础。
numpy==1.26.4
# 用于数据清洗、数据表格处理、数据分析，是实际工作中最常用的库。
pandas==2.2.2
# 数据可视化
matplotlib==3.9.0
# 一款在 matplotlib 上构建的美化可视化库。
seaborn==0.13.2
# 让你随时运行小段代码、调试、输出图表，是数据分析的最佳环境。
jupyter==1.0.0
notebook==7.1.2
